:root {
    /* color var */
    --bg-color: #123435;
    --bg-dark-color: #0c2324;
    --text-color: #f6ff7f;
    --link-color: #ffe4c4;
    --link-hover-color: #ff7f50;

    /* font */
    --ff-primary: "Lucida Console", "Courier New", monospace;
    --font-size: 18px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
}

#page-container {
    position: relative;
}

#main-content {
    padding-bottom: 1em;
}

.nav-bar {
    width: 100%;
    font-size: 1em;
    position: relative;
}

/* .navbar-main {
    width: 100%;
    font-size: 1em;
    position: relative;
    list-style: none;
} */

.nav-item {
    list-style: none;
    /* margin-left: 100px; */
    margin-right: 2rem;
}

.nav-item a {
    color: var(--link-color);
    text-decoration: none;
    transition: all 150ms ease-in;
}

.nav-item a:hover {
    color: var(--link-hover-color);
    transition: all 100ms ease-in;
}

ul li:first-child {
    color: aquamarine;
}

/* .navbar-main a {
    color: var(--link-color);
    list-style: none;
    text-decoration: none;
    transition: all 150ms ease-in;
}

.navbar-main a:hover {
    color: var(--link-hover-color);
    transition: all 150ms ease-in;
} */

.nav-list {
    /* width: 100%;
    height: 1em;
    margin: 0;
    background: var(--bg-dark-color);
    color: var(--link-color);
    display: flex;
    align-items: center; */

    background: var(--bg-dark-color);
    color: var(--link-color);
    width: 100%;
    height: 1em;
    margin: 0;
    padding: 1rem 0;
    border-radius: 0;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    /* float: right; */
}

.logo {
    width: 1.5em;
    height: 1.5em;
    /* margin-right: auto; */
    margin-left: 2rem;
    cursor: pointer;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1em;
    padding: 10px 0px 10px 0px;
    margin: 0;
    text-align: center;
    background: #0c2324;
    /* add a background container thing maybe*/
}
