* {
    margin: 0px;
    padding: 0px;
}

.purple-text {
    color: #9F00FF;
}

.blue-text {
    color: #05bb7e;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.div-test {
    height: 100vh;
    width: 100%;
    /* background: #edf2fc; */
    font-family: sans-serif;
    position: relative;
    font-size: 1em;
}

body {
    padding: 25px;
    font-size: 18px;
    background-color: #123435;
    color: #f6ff7f;
    font-family: "Lucida Console", "Courier New", monospace;
}

nav {
    width: 84%;
    color: #ffe4c4;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    /* background: #008b8b;
    padding: 10px 18px; */
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffe4c4;
}

nav ul li a:hover {
    color: #ff7f50;
}

.info {
    margin-left: 8%;
    margin-top: 15%;
}

.info h1 {
    font-size: 70px;
    color: #ff7f50;
    margin-bottom: 20px;
}

.info p {
    line-height: 22px;
}

.info a {
    background: #008b8b;
    padding: 10px 18px;
    text-decoration: none;
    color: #b9d3ec;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.imb-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

/* .main-img {
    bottom: -100px;
} */

#page-container {
    position: relative;
    /* min-height: 100vh; */
}

#content-wrap {
    padding-bottom: 1em;
}

#footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 1em;
    text-align: center;
    /* add a background container thing maybe*/
}