.purple-text {
    color: #9F00FF;
}

.orange-text {
    color: #FF5400;
}

.blue-text {
    color: #0099FF;
}

#purple-id {
    color: #9F00FF;
}

#orange-text {
    color: #FF5400;
}

#blue-text {
    color: #0099FF;
}